@import "variables";
@import "mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.75rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
}

body {
  background-color: black;
}


.container {
  background-image: url("./../assets/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px $overlayBlack;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  color: $white;

  @include breakpoint-up(tablet){
    background-image: url("./../assets/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 491px 767px;
    background-position: top right;
    box-shadow: none;
  }
  @include breakpoint-up(desktop){
    background-image: url("./../assets/desktop/image-host.jpg");
    background-size: 962px 640px;
    margin-top: 130px;
  }

  header {
    margin-top: 8vh;

    @include breakpoint-up(tablet){
      display: flex;
      margin-left: 38px;
    }
    @include breakpoint-up(desktop){
      margin-top: 0;
      margin-left: 165px;
    }
  }
    header img {
      @include breakpoint-up(desktop){
        position: absolute;
        left: 10%;
        top: 10%;
      }
    }

  .form-request {
    display: flex;
    flex-direction: column;
    margin: 5px auto 60px;
    width: 327px;
    height: 398px;

    @include breakpoint-up(tablet){
      background-color: black;
      width: 635px;
      height: 509px;
      text-align: left;
      margin: 152px auto auto 38px;
    }
    @include breakpoint-up(desktop){
      margin-left: 10%;
      margin-top: 140px;
      width: 723px;
      height: 509px;
    }

    .main-title {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.063rem;
    }

    .main-title h1 {
      font-size: 1.5rem;
      font-weight: 300;
      color: $lightGreen;
      @include breakpoint-up(tablet){
        font-size: 3rem;
        line-height: normal;
        margin-top: 93px;
      }
      @include breakpoint-up(desktop){
        font-size: 52px;
        letter-spacing: normal;
        margin-top: 90px;
      }
    }

    .main-title > span {
      font-size: 1.5rem;
      font-weight: 300;
      color: $white;

      @include breakpoint-up(tablet){
        font-size: 3rem;
        line-height: normal;
      }
    }

    .description {
      font-size: 0.938rem;
      font-weight: 300;
      line-height: 1.75rem;
      color: $veryLightGrey;
      margin-top: 20px;
      margin-bottom: 35px;

      @include breakpoint-up(tablet){
        width: 27.813rem;
        font-size: 1.125rem;
        margin-bottom: 0;
      }
    }

    .media-icons {
      width: 313.85px;
      display: flex;
      margin: auto;

      @include  breakpoint-up(tablet){
        order: 2;
        width: 536px;
        height: 29px;
        margin: 45px auto auto 0;
      }

      > img {
        height: 19px;
        margin: auto;
        filter: opacity(0.4);

        @include breakpoint-up(tablet){
          width: auto;
          height: auto;
          margin: auto auto 0 0;


          &:first-child {
            margin-left: 0;
          }
        }
      }

      .img-sm {
        height: 15px;

        @include breakpoint-up(tablet){
          height: auto;
        }
      }
    }

    .buttons {
      margin-top: 40px;
      display: grid;
      grid-gap: 25px;
      position: relative;

      @include breakpoint-up(tablet){
        width: 26.688rem;
      }

      input {
        padding: 15px 32px;

        @include breakpoint-up(tablet){
          padding: 19px 32px;
        }
      }

      input, input::placeholder, input:focus {
        background-color: $darkGrey;
        outline: none;
        border: none;
        color: $veryLightGrey;
        border-radius: 58px;
        font-weight: 700;
        font-size: 14px;
        overflow: -moz-hidden-unscrollable;
      }

      button {
        cursor: pointer;
        background-color: $lightGreen;
        outline: none;
        border: none;
        border-radius: 24px;
        font-weight: 700;
        font-size: 14px;
        padding: 15px;

        @include breakpoint-up(tablet){
          order: 1;
          position: absolute;
          right: 0.3rem;
          top: 6%;
          padding: 16px 26px;
        }
      }
    }

  } // end form-request

  .dot-background > img{
    display: none;

    @include breakpoint-up(tablet){
      display: flex;
      margin: auto auto 0 38px;
    }
    @include breakpoint-up(desktop){
      position: absolute;
      bottom: 76px;
      right: 0;
    }
  }

} // end container

.error-msg {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1vh;
  @include breakpoint-up(tablet){
    padding-left: 32px;
  }
}
.validate-msg {
  color: $lightGreen;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1vh;
  @include breakpoint-up(tablet){
    padding-left: 32px;
  }
}
