// Colors
$overlayBlack: hsl(224, 35%, 11%, 0.85);
$white: hsl(0, 0%, 100%);
$veryLightGreen: hsl(157, 100%, 85%);
$lightGreen: hsl(157, 74%, 62%);
$darkGrey: hsl(225, 26%, 23%);
$lightGrey: hsl(225, 21%, 45%);
$veryLightGrey: hsl(225, 40%, 83%);
$red: hsl(0, 96%, 61%);
